<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp2.Properties.Settings.FormatkaDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FormatkaDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp2.Properties.Settings.FormatkaConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Formatka;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>